<!DOCTYPE HTML>
    <head>
      <link rel="stylesheet" href="styles.css">
    </head>
    <title>
        To-Do List
    </title>

    <input type="text" id="myInput" placeholder="New Task">

    <h1>
        DONE:
    </h1>

    <ul id="done">
        <li>Homework</li>
        <li>eating</li>
        <li>naptime</li>
        <li>to do list</li>
    </ul>

    <h1>
        UNDONE:
    </h1>

    <ul id="undone">
        <li>take a poop</li>
        <li>A levels</li>
        <li>life</li>
    </ul>
</DOCTYPE>